body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
}

#matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Добавляем отступ между полями */
}

#password-input, #email-input { /* Применяем стили к обоим полям */
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #0f0;
    color: #0f0;
    padding: 15px 25px;
    font-size: 1.5em;
    text-align: center;
    outline: none;
    box-shadow: 0 0 15px #0f0;
    width: 350px; /* Задаем ширину */
}

#password-input::placeholder, #email-input::placeholder {
    color: #0a0;
}
